connect.mooz.pro {
  tls /etc/ssl/certs/connect.mooz.pro.crt /etc/ssl/private/connect.mooz.pro.key
  encode zstd gzip

  @websocket path /xmpp-websocket
  reverse_proxy @websocket prosody:5280

  @bosh path /http-bind
  reverse_proxy @bosh prosody:5280

  root * /srv/web
  file_server

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "SAMEORIGIN"
    Referrer-Policy "strict-origin-when-cross-origin"
  }
}


